root {
  --font1: "Lobster", cursive, "Roboto", sans-serif;
  --font2: "Comic Neue", cursive, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/background.jpg);
  background-position: center;
}

.container {
  border: solid 15px black;
  box-shadow: 4px 2px 8px magenta;
}

.gameContainer {
  background-color: rgba(0, 0, 0, 0.774);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-family: "Lobster", cursive, "Roboto", sans-serif;
  font-size: 4.5em;
  color: rgba(224, 172, 55, 1);
  text-shadow: 6px 0px 0px #313237;
}

.diceContainer {
  display: grid;
  grid-template-columns: 49% 49%;
  font-family: "Comic Neue", cursive, sans-serif;
  color: rgba(224, 172, 55, 1);
  font-size: 2em;
  padding: 20px;
  justify-content: center;
}
.dices {
  display: grid;
  justify-content: center;
}

button {
  padding: 15px 25px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: "Comic Neue", cursive, sans-serif;
  color: white;
  background-color: rgba(220, 53, 69, 1);
  box-shadow: 4px 4px 4px rgba(48, 78, 86, 255);
  border-radius: 8px;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(194, 50, 64);
}

.players {
  border: solid 6px rgb(194, 50, 64);
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(68, 27, 83, 255);
  width: 260px;
  height: 260px;
  margin-top: 20px;
}
